allow setuid = yes
max loop devices = 256
allow pid ns = yes
config passwd = yes
config group = yes
config resolv_conf = yes
mount proc = yes
mount sys = yes
mount dev = yes
mount devpts = yes
mount home = yes
mount tmp = yes
mount hostfs = yes
bind path = /etc/localtime
bind path = /etc/hosts
bind path = /home
bind path = /projects
bind path = /software
bind path = /share
user bind control = yes
enable overlay = try
enable underlay = yes
mount slave = yes
sessiondir max size = 16
allow container squashfs = yes
allow container extfs = yes
allow container dir = yes
always use nv = no
root default capabilities = full
memory fs type = tmpfs
shared loop devices = no