global:
  resolve_timeout: 3m
  slack_api_url: {{ alertmanager_slack_key }}

templates:
- '{{ alertmanager_config_dir }}/templates/*.tmpl'

{% raw %}
receivers:
- name: slack-notifications
  slack_configs:
  - channel: '{{ alertmanager_slack_channel }}'
    username: 'Alert Manager'
    color: '{{ if eq .Status "firing" }}danger{{ else }}good{{ end }}'
    title: '{{ template "slack.default.title" . }}'
    title_link: '{{ template "slack.default.titlelink" . }}'
    pretext: '*_{{ .CommonAnnotations.summary }}_*'
    text: |-

      {{ range .Alerts }}
          
          *Alert:* {{ .Annotations.summary }} - `{{ .Labels.severity }}`
          
          *Description:* {{ .Annotations.description }}
          
          *Details:*
            {{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`
            {{ end }}
      {{ end }}
    fallback: '{{ template "slack.default.fallback" . }}'
    icon_emoji: '{{ template "slack.default.iconemoji" . }}'
    icon_url: '{{ template "slack.default.iconurl" . }}'
    send_resolved: True
{% endraw %}

route:
  group_by:
  - alertname
  - job
  - instance
  receiver: slack-notifications

route:
  receiver: cachet
  group_by: [alertname]
  group_wait: 30s
  group_interval: 1m
  repeat_interval: 1h
  routes:
    - receiver: cachet
      match:
        public: "true"
  receivers:
    - name: cachet
      webhook_configs:
        - url: "http://172.16.196.20:81/webhook"
