global:
  evaluation_interval: 15s
  scrape_interval: 30s
  scrape_timeout: 15s

  external_labels:
    environment: maas.hpc1.uwc.ac.za

rule_files:
  - "{{ prometheus_config_dir }}/rules/*.rules"

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - "{{ ansible_default_ipv4.address }}:9093"


scrape_configs:

  - job_name: slurm-exporter
    metrics_path: /metrics
    static_configs:
    - targets:
{% for host in groups['slurm-exporter'] %}
      - "{{ host }}:9101"
{% endfor %}
  
  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
    - targets:
      - "{{ ansible_default_ipv4.address }}:9090"

  - job_name: node_exporter
    metrics_path: /metrics
    static_configs:
    - targets:
{% for host in groups['node_exporter'] %}
      - "{{ host }}:9100"
{% endfor %}